/* Draw a border around the textarea widget. */
.form-textarea-wrapper .CodeMirror {
  border: 1px solid #CCC;
  font-size: 15px;
}

pre.CodeMirror {
  padding: 0.5em;
}

/* Toolbar styling. */
.codemirror-toolbar-wrapper {
  background: #e9e9e9;
  padding: 8px 6px;
}

ul.codemirror-toolbar,
ul.codemirror-toolbar li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

ul.codemirror-toolbar h4 {
  display: none;
}

ul.codemirror-toolbar a {
  background: #ccc;
  padding: 4px 8px;
  margin-right: 2px;
}

.codemirror-toolbar-wrapper > ul.codemirror-toolbar > li > ul {
  margin-right: 6px;
}
